.navbar-default {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
}
.navbar {
  min-height: 70px !important;
}

.navbar-default {
  background: #3f51b5;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11)
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

nav#navbar-main li {
  font-size: 15px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>a:focus,
.navbar-default .navbar-nav>a:hover {
  white-space: nowrap;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  color: #fff;
  font-weight: 600;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #8c9eff;
  background-color: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  color: #8c9eff;
  font-weight: 700;
  background-color: transparent !important; /* Override Bootstrap. */
}

.navbar-brand,
.navbar-nav li a {
  height: inherit;
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}


.post-nav {
  margin-top: 1rem;
  font-size: 0.8rem;
}

.post-nav-item {
  hyphens: auto;
  word-wrap: break-word;
  padding: 11px 0 12px;
  width: 100%;
}

.post-nav-item a {
  color: #2b2b2b;
  line-height: 1.7;
  text-transform: none;
}

.post-nav-item .meta-nav {
  color: #767676;
  font-weight: 900;
  line-height: 2;
  text-transform: uppercase;
}

.dark .post-nav-item a {
  color: #ddd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}
